@font-face {
    font-family: 'Institut';
    src: url('/font/Institut.ttf');
  }

  @font-face {
    font-family: 'NeueMontreal';
    src: url('NeueMontreal-Light.woff') format("opentype");
  }

div {
    /* width: 100vw !important; */
    box-sizing: border-box !important;
}

html {
    background-color: #E6D7D3;
    overflow-x: hidden;

}

body {
    padding-left: 7%;
    padding-right: 7%;
    box-sizing: border-box;
    margin: 0;
    padding-bottom: 80px;
    overflow-x: hidden;
}

h1, h2, h3, h4, p {
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    padding-top: 5%;
    font-family:institut;
    font-size: 35pt;
    color: #00003C;
    margin-bottom: 2%;
}

h2 {
    font-family:institut;
    font-size: 25pt;
    color: #00003C;
    margin-top: 3%;
    margin-bottom: 1%;
}

div.SubT_WhatIsIt {
    position: relative;
    margin-bottom: 60px;
}

div.SubT_History {
    position: relative;
    margin-bottom: 60px;
}

div.SubT_Data {
    position: relative;
    margin-bottom: 60px;
}

div.SubT_Ethics {
    position: relative;
    margin-bottom: 60px;
}

div.Background_Deco {
    position: relative;
}

div.grayBlock {
    width: 250px;
    height:65px;
    position: absolute;
    top:-15px;
    left:-25px;
    background-color: #B3B8C0;
    z-index: -1;
}

div.stripes {
    width: 250px;
    height:65px;
    position: absolute;
    top:0px;
    left:-15px;
    z-index: -2;
    background: repeating-linear-gradient(
        45deg,
        #00003C,
        #00003C 2px,
        #E6D7D3 2px,
        #E6D7D3 5px
      );
}

h3 {
    margin-top: 3%;
    font-family:institut;
    color: #00003C;
    font-size: 20pt;
}


h4 {
    font-family:institut;
    font-size: 40pt;
    color: #00003C;
}

p {
    margin-top: 1%;
    margin-bottom: 1%;
    font-family:NeueMontreal;
    font-size: 15pt;
    color: #00003C;
    line-height: 1.6;
}

li {
    font-family:NeueMontreal;
    font-size: 15pt;
    color: #00003C;
    line-height: 1.6;
}

.stop_container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top:50px;
    margin-bottom: 150px;
    width: 500px;
}

.stop_content {
    position: relative;
    padding: 20px;
}

.policeLine1 {
    width:auto;
    height:1000px;
    position: absolute; 
    top: 100px;
    left: 0; 
    z-index: -3;
}

.policeLine2 {
    width:auto;
    height:1000px;
    position: absolute; 
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    top: 100px;
    left: 0; 
    z-index: -4;
}

.question_container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 150px;
    width: 500px;
    left:30%;
    
}

.sqfForm1 {
    width:auto;
    height:500px;
    position: absolute; 
    top: 800px;
    right: -300px; 
    z-index: -4;

}

.sqfForm2 {
    width:auto;
    height:500px;
    position: absolute; 
    top: 900px;
    left: -300px; 
    z-index: -4;

}


.question_content {
    position: relative;
    padding: 20px;
}

.frisk_container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 170px;
    width: 700px;
    left:40%;
}

.frisk_content {
    position: relative;
    padding: 20px;
}

.manFrisked {
    width: auto;
    height: 500px;
    position: absolute;
    top: 1245; /* Align the top of manFrisked with the top of beigeBlock_background */
    left: 10; /* Align the left of manFrisked with the left of beigeBlock_background */
    z-index: -1;
}

.beigeBlock_background {
    position: absolute;
    width: 100%; /* Occupy the full width of the .stop_content */
    height: 100%; /* Occupy the full height of the .stop_content */
    background-color: #E6D7D3;
    z-index: -1;
    top: 0; 
    left: 0; 
}

.stripes_background {
    position: absolute;
    width: 100%; /* Occupy the full width of the .stop_content */
    height: 100%; /* Occupy the full height of the .stop_content */
    background: repeating-linear-gradient(
        45deg,
        #00003C,
        #00003C 2px,
        #E6D7D3 2px,
        #E6D7D3 5px
      );
    z-index: -2;
    top: 30; 
    left: -20; 
}


.lookingGlass {
    width:auto;
    height:300px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    position: absolute; 
    top: -60px;
    right: -55; 
}

.whiteDot {
    height: 25px;
    width: 25px;
    background-color: #F9AB22;
    border-radius: 50%;
    display: inline-block;
}

.blackDot {
    height: 25px;
    width: 25px;
    background-color: #3158A5;
    border-radius: 50%;
    display: inline-block;
}

.asianDot {
    height: 25px;
    width: 25px;
    background-color: #FF5006;
    border-radius: 50%;
    display: inline-block;
}

.blackHispanicDot {
    height: 25px;
    width: 25px;
    background-color: #79A531;
    border-radius: 50%;
    display: inline-block;
}

.whiteHispanicDot {
    height: 25px;
    width: 25px;
    background-color: #ADC420;
    border-radius: 50%;
    display: inline-block;
}


#dots {
    margin: 50px;
}

#AAnumber {
    color: #3158A5;
    font-size: 50pt;
}

#WHnumber {
    color: #ADC420;
    font-size: 50pt;
}

#BHnumber {
    color: #79A531;
    font-size: 50pt;
}

#EAnnumber {
    color: #F9AB22;
    font-size: 50pt;
}

#APInumber {
    color: #FF5006;
    font-size: 50pt;
}

.AASQF {
    margin-top:1px;
    margin-bottom: 25px;
}

.WHSQF {
    margin-top:1px;
    margin-bottom: 25px;
}

.BHSQF {
    margin-top:1px;
    margin-bottom: 25px;
}

.EASQF {
    margin-top:1px;
    margin-bottom: 25px;
}

.APISQF {
    margin-top:1px;
    margin-bottom: 60px;
}

.WHStat {
    text-align: right;
    right:0px;
}

.EAStat {
    text-align: right;
    right:0px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  
  .row {
    display: flex;
    align-items: center;
  }
  
  
  .text {
    margin-left: 10px;
    font-family:NeueMontreal;
    font-size: 15pt;
  }

  .background-images {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    overflow-x: hidden;
    width: 100vw;
    min-height: 600%;
}

    @media only screen and (max-width: 767px) {

    body {
        margin: 0;
        padding-bottom: 40px;
    }

    h1 {
        padding-top: 5%;
        font-size: 10pt;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    
    h2 {
        font-size: 15pt;
        margin-top: 3%;
        margin-bottom: 1%;
    }

    h3 {
        margin-top: 3%;
        font-size: 10pt;
    }


    h4 {
        font-size: 10pt;
    }

    p {
        margin-top: 1%;
        margin-bottom: 20px;
        font-size: 8pt;
        line-height: 1.6;
    }

    li {
        font-size: 8pt;
        line-height: 1.6;
        white-space: pre-line;
        word-wrap: break-word;
    }

    .lookingGlass {
        width:auto;
        height:90px;
        top: 0px;
        right: -30px; 
        rotate: 25deg;
    }

    div.grayBlock {
        width: 130px;
        height:35px;
        top:-5px;
        left:-10px;
    }
    
    div.stripes {
        width: 130px;
        height:35px;
        top:0px;
        left:-15px; 
    }
    div.SubT_WhatIsIt {
        position: relative;
        margin-top: 35px;
        margin-bottom: 30px;
    }
    
    div.SubT_History {
        position: relative;
        margin-bottom: 30px;
    }
    
    div.SubT_Data {
        position: relative;
        margin-top: 35px;
        margin-bottom: 30px;
    }
    
    div.SubT_Ethics {
        position: relative;
        margin-bottom: 30px;
    }

    .stop_container {
        margin-top:50px;
        margin-bottom: 150px;
        width: 200px;
        left:80px;
    }
    
    .stop_content {
        padding: 10px;
    }

    .policeLine1 {
        width:auto;
        height:500px;
        position: absolute; 
        top: 190px;
        left: 0; 
        z-index: -1;
    }

    .policeLine2 {
        width:auto;
        height:500px;
        top: 30px;
        left: 0; 
        z-index: 1;
    }

    .question_container {
        margin-bottom: 200px;
        width: 200px;
        margin-top: 0;
        margin-left: auto;
        margin-right:auto;
        margin-bottom: 30px; 
        left: -40px;
        
    }

    .sqfForm1 {
        width:auto;
        height:250px;
        top:590px;
        right:-100px; 
    
    }
    
    .sqfForm2 {
        width:auto;
        height:150px;
        top: 760px;
        left: -100px; 
        z-index: -1;
    
    }

    .frisk_container {
        margin-bottom: 100px;
        width: 200px;
        left:150px;
    }
    
    .frisk_content {
        position: relative;
        padding: 20px;
    }

    .manFrisked {
        width: auto;
        height: 170px;
        top: 1010px;
        left: -30px; 
        z-index: -1;
    }

    .blackDot, .whiteHispanicDot, .blackHispanicDot, .whiteDot, .asianDot {
        flex-grow: 1;
        min-width: 8px;
    }


    .grid {
        width: 100%;
      }

    .text {
        margin-left: 10px;
        font-size: 8pt;
      }

    #dots {
        margin: 8px;
        margin-top: 20px;
    }

    .whiteDot {
        height: 8px;
        width: 8px;
    }

    .blackDot {
        height: 8px;
        width: 8px;
    }

    .asianDot {
        height: 8px;
        width: 8px;
    }

    .blackHispanicDot {
        height: 8px;
        width: 8px;
    }

    .whiteHispanicDot {
        height: 8px;
        width: 8px;
    }

    .WHStat {
        text-align: left;
        right:0px;
    }
    
    .EAStat {
        text-align: left;
        right:0px;
    }

  .background-images {
    min-height: 400%;
    }

    .WHStat {
        text-align: right;
        right:0px;
    }
    
    .EAStat {
        text-align: right;
        right:0px;
    }



    
}

  

  

